.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  box-shadow: 0 0 10px black;
}

.navbar-nav a {
  font-size: 1.2rem;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.card {
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;

  animation: spin 1s linear infinite;
  margin: 2rem auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
